<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <title>Customers - Add</title>
</head>
<body>
<section layout:fragment="header">
    <h1>
        Customers
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-inbox"></i> Home</a></li>
        <li>Customer</li>
        <li class="active">Create</li>
    </ol>
</section>
<div layout:fragment="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Create</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <form name="customerForm" id="customerForm" method="post" onsubmit="return false;">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="csn">CSN</label>
                                    <input type="text" class="form-control" id="csn" name="csn" value=""/>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <label for="firstName">First name</label>
                                        <input type="text" class="form-control" id="firstName" name="firstName" value=""/>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="lastName">Last name</label>
                                        <input type="text" class="form-control" id="lastName" name="lastName" value=""/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="dateofbirth">Date of Birth</label>
                                    <input type="date" class="form-control" id="dateofbirth" name="dateofbirth" value=""/>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-9">
                                        <label for="streetname">Streetname</label>
                                        <input type="text" class="form-control" id="streetname" name="streetname" value=""/>
                                    </div>
                                    <div class="col-sm-3">
                                        <label for="housenumber">Housenumber</label>
                                        <input type="text" class="form-control" id="housenumber" name="housenumber" value=""/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-9">
                                        <label for="city">City</label>
                                        <input type="text" class="form-control" id="city" name="city" value=""/>
                                    </div>
                                    <div class="col-sm-3">
                                        <label for="zipcode">Zipcode</label>
                                        <input type="text" class="form-control" id="zipcode" name="zipcode" value=""/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div style="margin-top: 15px;"></div>
                                    <label for="phone">Phone number</label>
                                    <input type="text" class="form-control" id="phone" name="phone" value=""/>
                                </div>
                                <div class="form-group">
                                    <label for="email">E-mail</label>
                                    <input type="email" class="form-control" id="email" name="email" value=""/>
                                </div>
                                <div class="form-group">
                                    <label for="iban">IBAN</label>
                                    <input type="text" class="form-control" id="iban" name="iban" value=""/>
                                </div>
                            </div>
                        </div>
                        <p><button type="submit" class="btn btn-primary" id="save" name="save">Save customer</button></p>
                    </form>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
</div>
</body>
</html>